

h1{
    background-color:grey;
    height :105px;
    text-align :center;
    font-size: 45px;
}

p{
    font-size: 20px;
}

button{
    font-size: 20px;
   list-style-type: none; 
   background-color:red;
   height:40px;
   width:105px;
    text-decoration: none;
}
.item{
    text-decoration: none;
    color:black;
     font-size: 20px;
}
.circle {
  display: block;
  background: grey;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-left:151px;
}

.loop(@counter,@pos) when (@counter >0) {

		.loop(@counter - 1, @pos+155px);
			@x_origin : @pos;
			.menu .item:nth-child(@{counter}) {
			width: 150px;
			background-color:red ;
			transform-origin:0 @x_origin;
			transform: rotate(0deg);
			transition: transform 2s ease-in-out;
		}
		transform: rotate(0deg);
		text-align: left;
		position: relative;
		
        
		.menu.open .item:nth-child(@{counter}) {
			transform-origin:0 @x_origin ;
			margin-left:@x_origin;
			transform: rotate((@counter - 1) * -2deg);
			transition: transform 2s ease-in-out;
		}
}

p{
	margin-top:55px;
}	

.content {
   .item {
        position: absolute;
		text-decoration:none;
    }
	 .loop(7,18px);
}