html{
background: url(Images/bgResume.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.content{
position: absolute;
display:block;
box-shadow:0 0 10px -3px #2e3d42;
margin-left:200px;
margin-bottom:-150px;
margin-top:50px;
width: 260px;
height: 300px;
background:white;
border: 20px solid white;
}
h2{
font-size:30px;
color:grey;
text-align: center;
margin-top:0;
}
b{
font-weight:700;
color:black;
}
.my_description{
margin-top:317px;
margin-left:290px;
padding-left:200px;
padding-right:-250px;
width:50%;
color:white;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}
li{
float:right;
}
li a {
display: block;
color: lightblue;
font-size: 15px;
font-style: oblique;
font-weight:bold;
text-align: center;
padding: 14px 16px;
text-decoration:none;
}
li a:hover {
background-color: lightcyan;
color:black;
}
.bioBorder{
position: absolute;
display:block;
box-shadow:0 0 10px 3px #2e3d42;
margin:10px 10px;
width: auto;
height: auto;
background:grey;
}
p{
margin-left:150px;
font-weight:bold;
font-size:20px;
}
h1{
text-align:center;
font-weight:bold;
text-shadow:1px 1px 1px aqua;
font-size:50px;
color:Black;
}
.workDetails{
text-align: left;
color:navy;
font-size:25px;
background-color:white;
}
.workPlace{
text-align: left;
color:grey;
font-size:15px;
margin-left:45px;
text-shadow:0.5px 0.5px 0.5px black;
}
.JobDescription{
color:aliceblue;
margin-left:45px;
}
.skillDescription{
padding-left: 60px;
font-size: 20px;
margin-left:auto;
color:aquamarine;
}
.container1{
float:left;
width:50%;
padding-left: 25px;
}
.container2{
float:right;
width:40%;
}
.study{
position:center;
}
.degree {
width:50%;
float:left;
font-size:25px;
color:grey;
margin-left:70px;
}
.institution{
width:40%;
font-size:25px;
color:darkcyan;
float:right;
}
footer{
text-align: right;
background-color: lightsteelblue;
position: fixed;
right: 0;
bottom: 0;
width: 100%;
font-weight:bold;
font-size:18px;
}
h5{
text-align: center;
font-weight:bold;
font-size:25px;
color:cadetblue;
}
.me{
margin-left: 350px;
margin-right: 350px;
font-size: 20px;
color:grey;
}

