

html{
background: url(about.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.content{
position: absolute;
display:block;
box-shadow:0 0 10px -3px #2e3d42;
margin-left:200px;
margin-bottom:-150px;
margin-top:150px;
width: 500px;
height: 200px;
background: url(LoginContent.jpg) no-repeat ;
background-size: cover;
border: 20px solid limeyellow;
}

li{
float:right;
text-decoration:none;
}
li a {
display: block;
color: white;
font-size: 15px;
font-style: oblique;
font-weight:bold;
text-align: center;
padding: 14px 16px;
text-decoration:none;
}
li a:hover {
background-color: limeyellow;
color:white;
  border-style: solid;

}

p{
font-weight:bold;
font-size:20px;
}

.Login{
	align:center;
	margin-left:100px;
}
h1{
	color:yellow;
	font-size:20px;
}

.heading{
	text-align:center;
	color:white;
	font-size:55px;
}
th{
	float:left;
	width:50%;
	color:white;
}
.heading3{
	color:white;
	font-size:40px;
	background-color:black;
}

.heading4{
	color:white;
	font-size:40px;
}

div {
    text-align: justify;

}

div img {
    display: inline-block;
    width: 100px;
    height: 100px;
}

div:after {
    content: '';
    display: inline-block;
    width: 100%;
}

#banner {
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		padding: 8em 4em 6em 4em;
		min-height: 70vh;
		background-image: url("images/banner.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-top: 0;
		position: relative;
		text-align: center;
		overflow: hidden;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
    padding: 16px;
	color:white;
	text-shadow:black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

	