.header
{
    border: solid 1px black;
    font-size: 150px;
}

table td
{
    display: inline-block;
    margin: 50px;
}

.profile
{
    border: solid 1px black;
    width: 200px;
    height: 200px;
}

ul li:hover, ul li :focus {
  background-color: #00cccc;
}
