body {
	background-image:url('background.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
	
}



img{
	height:200px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width:105em;
}

.info{
	float:left;
}
.card{
	border-style: solid;
	border-width:3px;
	border-color:black;
	   background-image: url("bg.jpg");
	   text-align:center;
	   font-size:35px;
	  height: 350px;
	   width: 250px;
	  float:left;
	  margin-left:100px;
	  word-wrap:auto;
	  margin-top:45px;
}

.url a{
	font-size:20px;
	color:pink;
}

.specify{
	background-image: url("page2bg.jpg");
	text-align:center;
	 margin: auto;
    width: 50%;
    border: 5px solid blue;
    padding: 10px;
	
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	float:right;
    text-decoration: none;
    color: initial;
	font-size:25px;
}