html{
background: url(login.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.content{
position: absolute;
display:block;
box-shadow:0 0 10px -3px #2e3d42;
margin-left:200px;
margin-bottom:-150px;
margin-top:150px;
width: 500px;
height: 200px;
background: url(LoginContent.jpg) no-repeat ;
background-size: cover;
border: 20px solid limeyellow;
}

li{
float:right;
}
li a {
display: block;
color: yellow;
font-size: 15px;
font-style: oblique;
font-weight:bold;
text-align: center;
padding: 14px 16px;
text-decoration:none;
}
li a:hover {
background-color: limeyellow;
color:white;

}

p{
margin-left:150px;
font-weight:bold;
font-size:20px;
}

.Login{
	align:center;
	margin-left:100px;
}
h1{
	color:yellow;
	font-size:20px;
}
