body {    
margin: 0 !important;
padding: 0 !important;
}
html { 
  background: url(images/cover.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bar{
margin-top:0px;
margin-right:18%;
margin-left:69.5%;
background-color:black;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 200px;
background-color: black;
}

li a {
text-align: center;
display: block;
color: white;
font-family:"Liberation Serif";
font-size:20px;
padding: 8px 16px;
text-decoration: none;
}

li a:hover {
background-color: #555;
color: white;
}
button {
	background-color:black;
	border:black;
	 width:205px;
}



