body {    
margin: 0 !important;
padding: 0 !important;
}
#index{ 
  background: url(images/cover.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#prices{
    background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#contact{
     background: url(images/contactbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
.bar{
margin-top:0px;
margin-right:18%;
margin-left:69.5%;
background-color:black;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 200px;
background-color: black;
}

li a {
text-align: center;
display: block;
color: white;
font-family:"Liberation Serif";
font-size:20px;
padding: 8px 16px;
text-decoration: none;
}

li a:hover {
background-color: #555;
color: white;
}
button {
	background-color:black;
	border:black;
	 width:205px;
}


* {
    box-sizing: border-box;
}


.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
p1{
  font-size:20px;  
    text-align: center;
}
.row {
    margin: auto;
    width: 50%;
     position: relative;
     padding: 10px;
      display: inline-block;
    background-color: black;
    color: white; 
      float:left;
    font-family: Arial;
}

.text-block {
    position: absolute;
      display: inline-block;
    background-color: black;
    color: white;
    
}

.rules{
    background-color:grey;
}

.form{
    color:white;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.header {
    float:right;
    font-size:25px;
    font-weight: 10;
    color:black;
    background-color:grey;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
   
    padding: 20px;
}

.column1 {
    color:white;
    float: left;
    opacity: .4
    width: 50%;
    font-weight:bold;
    padding: 10px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row1:after {
 
    content: "";
    opacity: .4;
    display: table;
    clear: both;
}
h2 a {
    color:white;
    text-decoration: none;
}