@charset "utf-8";
/* CSS Document */
.image{
          transition: all 0.75s ease;
}

.image2:hover {

          transform: rotate(-5deg);
}

.logo img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height:150px;
}

html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid { 
   display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  }

.grid img {
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  max-width: 100%;
}

.grid img:nth-child(6) {
  grid-column: span 5;
  }
.bar{
margin-top:0px;
margin-right:18%;
margin-left:69.5%;
background-color:black;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 200px;
background-color: black;
}

li a {
text-align: center;
display: block;
color: white;
font-family:"Liberation Serif";
font-size:20px;
padding: 8px 16px;
text-decoration: none;
}

li a:hover {
background-color: #555;
color: white;
}
button {
	background-color:black;
	border:black;
	 width:205px;
}
.header {
    float:right;
    font-size:25px;
    font-weight: 10;
    color:black;
    background-color:grey;
    margin-right:0px;
    margin-bottom:0px;
}