html { 
  background: url(images/bg1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.container {
    position: relative;
    font-family: Arial;
}

.text-block {
    position: absolute;
      display: inline-block;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    
}
.part1{
   text-align: center;
    display: inline-block;
}


p{
    margin-top:0px;
    font-size:25px;
}

* {
    box-sizing: border-box;
}


.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
p1{
  font-size:20px;  
    text-align: center;
}

.header {
    float:right;
    font-size:25px;
    font-weight: 10;
    color:black;
    background-color:grey;
}
button{
    float:left;
    background-color:  #555555;  /* Black */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
