@background_color_1: #8f3bb3;
@background_color_2: #622973;

@colors: #000000 #025945 #126486 ;

body{
position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.title {
	font-size: 35px;
	text-align: center;
	background-image: linear-gradient(to right, @background_color_1 , #fa88fa);
}
.top.menu {
	display: flex;
	text-align: center;
	background-color: @background_color_2;
	border-style: round;
	border-radius: 25px;
	margin: 0 100px ;
	.item:nth-child(1) { background-color: #8f3bb3; }
	.item:nth-child(2) { background-color: #fa88fa; }
	.item:nth-child(3)  { background-color: #eb09dc; }
	.item:nth-child(4) { background-color: #8f3bb3; }
	.item:nth-child(5) { background-color: #fa88fa; }
	.item:nth-child(6)  { background-color: #eb09dc; }
	.item:nth-child(7) { background-color: #8f3bb3; }

}

.top.menu .item:hover{
	background-color:#fac9fa;;
}
	
.item{
	margin: auto;
	padding: 2px;
	text-align: center;
}


.sidebar{
	margin-top:100px;
	grid-area: sidebar;
	.item{
		.subItem{
			display: none;
		}
		}
		
	.item:hover{
		font-weight:bold;
		}
		.item:hover .subItem {
		font-weight:bold;
		text-align:left;
		padding-left:150px;
		color:black;
		display: block;
	}
}

.sidebar .item .subItem:hover{
		 color:red;
		  }
	
.bargraph{
		display:table;
		table-layout: fixed; 
		grid-area:bargraph;
		margin-bottom:0;
		.bar1{
			margin-top:15px;
			display: inline-block;
			position: relative;
			border-left: 6px solid green;
			margin-left:50px;
			width:50px;
			vertical-align: baseline;
			height:200px;
			background-color:green;
		}
		
		.bar2{
		display: inline-block;
			position: relative;
			vertical-align: baseline;
			border-left: 6px solid green;
			width:50px;
			margin-left:50px;
			height:170px;
			background-color:green;
		}
		
		.bar3{
			margin-top:15px;
			display: inline-block;
			position: relative;
			margin-left:50px;
			border-left: 6px solid green;
			width:50px;
			vertical-align: baseline;
			height:215px;
			background-color:green;
		}
		
		.bar4{
			display: inline-block;
			position: relative;
			vertical-align: baseline;
			border-left: 6px solid green;
			width:50px;
			margin-left:50px;
			height:150px;
			background-color:green;
		}
}

	
	
	
.flexbottom{
		float: left;
		background-color:#eb09dc;
			.mon
			{
				margin :2.5px;
				float: left;
				max-width: 225px;
				padding: 10px;
				width: 25%;
				border:2px solid black;
				border-radius:25px;
				background-image: linear-gradient(to right, @background_color_1 , #7d3676);
			}
	}
	



.container{
position: float; 
  right:0;
  	left:0;
	bottom:0;
	
	display: grid;
    grid-gap: auto;
        grid-template-columns: 250px auto; 
        grid-template-areas:
		"sidebar bargraph"
		"sidebar bottom";
	background-color: @background_color_1;

}
